<div class="problem cmmedu-ordertable-block" id="order_{{ sublocation }}" data-image-path="{{ image_path }}">
    {% if is_team or is_studio %}
    <div class="weight-info">
        <span class="weight-label">Peso de la pregunta:</span>
        <span class="weight-value">{{ weight }}</span>
    </div>
    {% endif %}
    {% if show_correctness != 'never' or indicator_class == 'unanswered' %}
    <div class="status {{ indicator_class }}" id="status_{{ sublocation }}" data-score="{{ score }}">
    {% else %}
    <div class="status" id="status_{{ sublocation }}" data-score="{{ score }}" >
    {% endif %}
        <div class="cmmedu-ordertable-table">
            <table class="cmmedu-ordertable-table-content">
                <thead>
                    {% if table_name != "" %}
                    <tr>
                        <th class="order-header" style="background-color: {{ background_color }}; text-align: center;" {% if numbering_type == 'none' %} colspan="2" {% else %}colspan="3"{% endif %}>{{ table_name }}</th>
                    </tr>
                    {% endif %}
                    <tr>
                        {% if numbering_type != 'none' %}
                        <th class="order-header" style="background-color: {{ background_color }}; text-align: center; width: {{ label_width }};" pretext="{{ pretext_num }}" postext="{{ postext_num }}" ordertype="{{ numbering_type }}">
                            {{ textcolumn_order }}
                        </th>
                        {% endif %}
                        <th class="content-header" style="background-color: {{ background_color }}; text-align: center;">
                            {{ textcolumn_content }}
                        </th>
                        <th class="actions-header" style="background-color: {{ background_color }}; text-align: center; width: {{ label_width }};">
                            {{ textcolumn_actions }}
                        </th>
                    </tr>
                </thead>
                <tbody class="items-container">
                    {% for item in elements %}
                    <tr class="item-row" data-key="{{ item.key }}">
                        {% if numbering_type != 'none' %}
                            {% if use_custom_labels %}
                            <td class="order-cell">
                                {% with position=item.position|stringformat:"s" %}
                                    {% if custom_labels and custom_labels|get_item:position %}
                                        {{ pretext_num|safe }}{{ custom_labels|get_item:position|get_item:"content"|safe }}{{ postext_num|safe }}
                                    {% else %}
                                        {{ pretext_num|safe }}{{ item.position }}{{ postext_num|safe }}
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                            <td class="order-cell">
                                {% if numbering_type == 'numbers' %}
                                    {{ pretext_num|safe }}{{ item.position }}{{ postext_num|safe }}
                                {% elif numbering_type == 'numbers_zero' %}
                                    {{ pretext_num|safe }}{{ item.zero_index }}{{ postext_num|safe }}
                                {% elif numbering_type == 'letters' %}
                                    {% if uppercase_letters %}
                                        {{ pretext_num|safe }}{{ item.letter_upper }}{{ postext_num|safe }}
                                    {% else %}
                                        {{ pretext_num|safe }}{{ item.letter_lower }}{{ postext_num|safe }}
                                    {% endif %}
                                {% elif numbering_type == 'roman' %}
                                    {% if uppercase_letters %}
                                        {{ pretext_num|safe }}{{ item.roman_upper }}{{ postext_num|safe }}
                                    {% else %}
                                        {{ pretext_num|safe }}{{ item.roman_lower }}{{ postext_num|safe }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        {% endif %}
                        <td class="content-cell">{{ item.content|safe }}</td>
                        <td class="actions-cell" style="text-align: center;">
                            <button class="move-up-button">↑</button>
                            <button class="move-down-button">↓</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <solution style="display: none;">
        <p>RESPUESTA</p>
    </solution>
    <div class="submit-box">
        <div class="action">
            <button class="cmmedu-ordertable-submit Submit submit" aria-describedby="status_{{ sublocation }}" {% if no_mas_intentos %}disabled{% endif %}>Enviar</button>
            <span id="submission_feedback_{{ sublocation }}" class="submission-feedback">
                {% if max_attempts > 0 %}
                    {{ texto_intentos }}
                {% endif %}
            </span>
            <span class="notificacion">
                {% if show_correctness != 'never' %}
                    {% if attempts > 0 %}
                        {% if score >= 1 %}
                            <img src="/static/images/correct-icon.png" alt="Respuesta Correcta" class="status-icon"/>
                        {% else %}
                            <img src="/static/images/incorrect-icon.png" alt="Respuesta Incorrecta" class="status-icon"/>
                            {% if show_answer == "when_attempts_run_out" and no_mas_intentos %}
                                <button class="ver_respuesta" data-checking="Cargando..." data-value="Ver Respuesta">
                                    <span class="icon fa fa-info-circle" aria-hidden="true"></span><br>
                                    <span>Mostrar<br>Respuesta</span>
                                </button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </div>
</div> 