<div class="problem eol-order-block" id="order_{{ location }}" data-image-path="{{ image_path }}">
    {% if is_team or is_studio %}
    <div class="weight-info">
        <span class="weight-label">Peso de la pregunta:</span>
        <span class="weight-value">{{ weight }}</span>
    </div>
    {% endif %}
    {% if show_correctness != 'never' or indicator_class == 'unanswered' %}
    <div class="status {{ indicator_class }}" id="status_{{ location }}" data-score="{{ score }}">
    {% else %}
    <div class="status" id="status_{{ location }}" data-score="{{ score }}">
    {% endif %}
        <div class="eol-order-table">
            <table class="eol-order-table-content">
                <thead>
                    {% if table_name != "" %}
                    <tr>
                        <th class="order-header" style="background-color: {{ background_color }}; text-align: center;" colspan="3">{{ table_name }}</th>
                    </tr>
                    {% endif %}
                    <tr>
                        <th class="order-header" style="background-color: {{ background_color }}; text-align: center;">Orden</th>
                        <th class="content-header" style="background-color: {{ background_color }}; text-align: center;">Contenido</th>
                        <th class="actions-header" style="background-color: {{ background_color }}; text-align: center;">Acciones</th>
                    </tr>
                </thead>
                <tbody class="items-container">
                    {% for item in elements %}
                    <tr class="item-row" data-index="{{ item.key }}">
                        <td class="order-cell">
                            {% if numbering_type == 'numbers' %}
                                {{ item.key }}
                            {% elif numbering_type == 'numbers_zero' %}
                                {{ item.zero_index }}
                            {% elif numbering_type == 'letters' %}
                                {% if uppercase_letters %}
                                    {{ item.letter_upper }}
                                {% else %}
                                    {{ item.letter_lower }}
                                {% endif %}
                            {% elif numbering_type == 'roman' %}
                                {% if uppercase_letters %}
                                    {{ item.roman_upper }}
                                {% else %}
                                    {{ item.roman_lower }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="content-cell">{{ item.content }}</td>
                        <td class="actions-cell" style="text-align: center;">
                            <button class="move-up-button">↑</button>
                            <button class="move-down-button">↓</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="submit-box">
        <div class="action">
            <button class="eol-order-submit Submit submit" {% if no_mas_intentos %}disabled{% else %} style="background-color: #dc0000 !important; color: white;" {% endif %}>Enviar</button>
            <span id="submission_feedback_{{ location }}" class="submission-feedback">
                {% if max_attempts > 0 %}
                    {{ texto_intentos }}
                {% endif %}
            </span>
            <span class="notificacion">
                {% if show_correctness != 'never' %}
                    {% if attempts > 0 %}
                        {% if score >= 1 %}
                            <img src="/static/images/correct-icon.png" alt="Respuesta Correcta"/>
                        {% else %}
                            <img src="/static/images/incorrect-icon.png" alt="Respuesta Incorrecta"/>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </div>
</div> 