{% load i18n %}
<div class="editor-with-buttons">
    <div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
        <ul class="list-input settings-list">
            <li class="field comp-setting-entry is-set">
                <div class="wrapper-comp-setting">
                    <label class="label setting-label" for="table_name">Nombre de la tabla</label>
                    <input class="input setting-input" name="table_name" id="table_name" value="{{table_name}}"
                        type="text" />
                </div>
            </li>
            <li class="field comp-setting-entry is-set">
                <div class="wrapper-comp-setting">
                    <label class="label setting-label" for="background_color">Color de fondo</label>
                    <input class="input setting-input" name="background_color" id="background_color"
                        value="{{background_color}}" />
                </div>
            </li>
            <li class="field comp-setting-entry is-set">
                <div class="wrapper-comp-setting">
                    <label class="label setting-label" for="numbering_type">Tipo de numeración"</label>
                    <select class="input setting-input" name="numbering_type" id="numbering_type">
                        <option value="numbers" ${'selected' if numbering_type=='numbers' else '' }>1, 2, 3...</option>
                        <option value="numbers_zero" ${'selected' if numbering_type=='numbers_zero' else '' }>0, 1, 2...
                        </option>
                        <option value="letters" ${'selected' if numbering_type=='letters' else '' }>a, b, c...</option>
                        <option value="roman" ${'selected' if numbering_type=='roman' else '' }>i, ii, iii...</option>
                        <option value="none" ${'selected' if numbering_type=='none' else '' }>No crear</option>
                    </select>
                </div>
            </li>
            <li class="field comp-setting-entry is-set">
                <div class="wrapper-comp-setting">
                    <label class="label setting-label" for="uppercase_letters">Letras mayúsculas</label>
                    <input class="input setting-input" name="uppercase_letters" id="uppercase_letters" type="checkbox"
                        ${'checked' if uppercase_letters else '' } />
                </div>
            </li>
            <li>
                <div class="table-rows-container">
                    <h3>Elementos a ordenar</h3>
                    <div class="table-rows">
                        {% for key, value in ordeingelements.items %}
                        <div class="table-row" data-row-id="{{key}}">
                            <div class="row-content">
                                <p>Label: {{key}}</divp>
                            </div>
                            <div class="row-content">
                                <textarea class="row-content-input" placeholder="Contenido de la fila (HTML permitido)"
                                    name="content">{{value.content}}</textarea>
                            </div>
                            <div class="row-actions">
                                <button class="remove-row">Eliminar</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="add-row-button">Agregar</button>
                </div>
            </li>
        </ul>
    </div>



    <div class="xblock-actions">
        <span class="xblock-editor-error-message"></span>
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
            </li>
            <li class="action-item">
                <a href="#" class="button cancel-button">{% trans "cancel" %}</a>
            </li>
        </ul>
    </div>
</div>